<div class="card-body">
    {{#each posts}}
    <div class="card"><a href="/post/{{this.id}}">
        <h2>{{this.title}}</h2>
        <p class="card-content">{{this.content}}</p>
        <p class="card-foot"> Posted By: {{this.user.username}} on {{format_date this.created_at}}</p>
    </a>
    </div>
    {{/each}}
</div>