<div class="single-card">
        <h2>{{post.title}}</h2>
        <p class="card-content">{{post.content}}</p>
        <p class="card-foot"> Posted By: {{post.user.username}} on {{format_date post.created_at}}</p>
</div>
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea id="comment-textarea" name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}
<div class="comments">
    {{#each post.comments}}
    <section class="comment">
        <div class="comment-user">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}